<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
<form action="/analyze" method="get">
        <h1>
            hello, enter your full name and sed me about your self
        </h1>
        <textarea name="text" style='margin: 0px; width: 730px;height: 120px;'></textarea><br>
        <input type="checkbox" name="removepunc"> remove punctuation<br>
        <input type="checkbox" name="callupper"> change to upercase<br>
        <input type="checkbox" name="newlineremove"> new line remover<br>
        <input type="checkbox" name="extraspaceremove"> extra spacr remover<br>
        <input type="checkbox" name="charcounter"> char counter<br>
        <button value="submit">submit</button>
</form>

</body>
</html>